@model Article

@if (Model != null)
{

    <div class="card mt-1 bg-light" style="flex-basis:33%" >
        <div class="card-body">
            <h6>@Model.Tag</h6>
            <a asp-controller="Home" asp-action="ShowArticle" asp-route-id="@Model.Id"><img src="@Model.Thumbnail" onclick="ShowArticle" height="250" width="100%"/></a>
            <a asp-controller="Home" asp-action="ShowArticle" asp-route-id="@Model.Id" style=""><h6 class="card-subtitle mb-2 mt-2"><strong>@Model.Title</strong></h6></a>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

}

else
{
    <h1>Nothing to see here!</h1>
}
