@model Article

<form asp-controller="Home" asp-action="CreateArticle" method="post">
    <div>
        <div class="mb-3">
            <input asp-for="@Model.AuthorName" class="form-control" type="hidden" placeholder="Your name here" value="Test" />
        </div>
        
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="@Model.Title" class="form-control" placeholder="Title of Article" />
            <span asp-validation-for="Title" class="text-danger"></span> @*only error for title*@
        </div>
        
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="@Model.Description" class="form-control" placeholder="Brief description of the Article below." />
            <span asp-validation-for="Description" class="text-danger"></span> @*only error for title*@
        </div>

        <div class="mb-3">
            <label asp-for="AuthorName"></label>
            <input asp-for="@Model.AuthorName" class="form-control" placeholder="Author name" />
            <span asp-validation-for="AuthorName" class="text-danger"></span> @*only error for title*@
        </div>
        <div class="mb-3">
            <label asp-for="Thumbnail"></label>
            <input asp-for="@Model.Thumbnail" class="form-control" placeholder="Thumbnail URL" />
            <span asp-validation-for="Thumbnail" class="text-danger"></span> @*only error for title*@
        </div>
        
        <div class="mb-3">
            <label asp-for="Tag"></label>
            <input asp-for="@Model.Tag" class="form-control" placeholder="Tags" />
            <span asp-validation-for="Tag" class="text-danger"></span> @*only error for title*@
        </div>

        <div class="mb-3 form-group">
            <label asp-for="@Model.ArticleText"></label>
            <textarea asp-for="@Model.ArticleText" class="form-control" rows="30" spellcheck="true"></textarea>
            <span asp-validation-for="@Model.ArticleText" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</form>